/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
/*SFProDisplay*/
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Ultralight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Ultralight.otf") format("opentype"),
    url("../fonts/SFProDisplay-Ultralight.woff") format("woff"),
    url("../fonts/SFProDisplay-Ultralight.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight")
      format("svg");
  font-weight: normal;
  font-style: 200;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Thin.otf") format("opentype"),
    url("../fonts/SFProDisplay-Thin.woff") format("woff"),
    url("../fonts/SFProDisplay-Thin.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Thin.svg#SFProDisplay-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Light.otf") format("opentype"),
    url("../fonts/SFProDisplay-Light.woff") format("woff"),
    url("../fonts/SFProDisplay-Light.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Light.svg#SFProDisplay-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Regular.otf") format("opentype"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Medium.otf") format("opentype"),
    url("../fonts/SFProDisplay-Medium.woff") format("woff"),
    url("../fonts/SFProDisplay-Medium.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Semibold.otf") format("opentype"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("../fonts/SFProDisplay-Semibold.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Bold.otf") format("opentype"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff"),
    url("../fonts/SFProDisplay-Bold.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Heavy.otf") format("opentype"),
    url("../fonts/SFProDisplay-Heavy.woff") format("woff"),
    url("../fonts/SFProDisplay-Heavy.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Heavy.svg#SFProDisplay-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Black.otf") format("opentype"),
    url("../fonts/SFProDisplay-Black.woff") format("woff"),
    url("../fonts/SFProDisplay-Black.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Black.svg#SFProDisplay-Black") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* NanumSquare */
@font-face {
  font-family: "NanumSquare";
  font-weight: normal;
  src: url(../fonts/NanumSquareR.otf);
  src: url(../fonts/NanumSquareRegular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareR.woff) format("woff"),
    url(../fonts/NanumSquareRegular.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: bold;
  src: url(../fonts/NanumSquareB.otf);
  src: url(../fonts/NanumSquareBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareB.woff) format("woff"),
    url(../fonts/NanumSquareBold.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../fonts/NanumSquareL.otf);
  src: url(../fonts/NanumSquareLight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareL.woff) format("woff"),
    url(../fonts/NanumSquareLight.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url(../fonts/NanumSquareEB.otf);
  src: url(../fonts/NanumSquareExtraBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareEB.woff) format("woff"),
    url(../fonts/NanumSquareExtraBold.ttf) format("truetype");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "SFProDisplay", "NanumSquare", "Open Sans", sans-serif;
  color: #585a61;
}

a {
  color: #5777ba;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFProDisplay", "NanumSquare", "Raleway", sans-serif;
}

li {
  list-style: none;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
}

#header.header-scrolled {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #5777ba;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.nav-page {
  position: absolute;
  top: 254px;
  left: 36.5px;
  font-size: 16px;
  transform: rotate(90deg);
}
.navbar .navbar-btn {
  display: block;
  width: 32px;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 99;
  cursor: pointer;
}
.navbar .navbar-btn span {
  display: block;
  width: 32px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #000;
  margin-bottom: 8px;
  transform: none;
  transition: transform 500ms cubic-bezier(0, 0.61, 0.28, 0.92);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: fixed;
  right: 50px;
  top: 50px;
}
.nav a {
  display: inline-block;
  width: 23.5px;
  margin-left: 35px;
}
.nav a img {
  width: 100%;
}

.nav-list-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 12;
  transition: opacity 500ms cubic-bezier(0, 0.61, 0.28, 0.92);
  visibility: hidden;
  opacity: 0;
}
.nav-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 40px;
}
.nav-list li {
  margin-bottom: 45px;
}
.nav-list li:last-child {
  margin-bottom: 0;
}
.nav-list li a {
  font-size: 60px;
  color: #111;
  font-weight: 300;
}

/*--------------------------------------------------------------
# Main 
--------------------------------------------------------------*/
.main {
  background-color: #f8f6f5;
}
.main h1 {
  font-size: 2.25rem;
  color: #222e55;
}
.main-title {
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #f49da0;
  text-shadow: 2px 2px #c8371d;
  margin-bottom: 38px;
  line-height: 1;
}
.main-name {
  font-size: 36px;
  color: #f49da0;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -2.77px;
}
.main-info h1 {
  margin: 75px auto;
  line-height: 1;
  font-size: 84px;
  font-weight: 900;
}
.main-info p {
  font-size: 13px;
  color: #222e55;
  margin-bottom: 6px;
  display: block;
}
.main-info p span {
  font-weight: 600;
}
.main-info p a {
  color: #222e55;
}
.main-link {
  display: block;
  margin-top: 100px;
  color: #222e55;
  font-size: 26px;
}
.main-link img {
  margin-left: 24px;
}
@media (min-width: 992px) {
  .main {
    height: 100vh;
    min-height: 40rem;
  }
}

/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/
.portfolio-container {
  width: 80%;
  max-width: 1500px;
  margin: auto;
}
.item-wrap {
  width: 100%;
  height: 75%;
  /* height: 650px; */
}
.item-wrap .slick-list {
  height: 90%;
}
.item-wrap .slick-track {
  height: 100%;
}
.slick-arrow {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 23px;
  font-size: 0;
}
.slick-prev {
  left: 0;
  background-image: url(../img/icons/prev.png);
}
.slick-next {
  left: 73px;
  background-image: url(../img/icons/next.png);
}
.slick-next:before {
  clear: both;
  display: block;
  content: "";
  width: 1px;
  height: 23px;
  background-color: #b8b8b8;
  position: absolute;
  bottom: 0;
  left: -26.5px;
}

.items {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
}
.items .item-info-wrap {
  margin-right: auto;
  text-align: left;
  color: rgba(35, 35, 35, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.items .item-info-wrap .item-title {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 43px;
}
.items .item-info-wrap .item-info {
  font-size: 28px;
  font-family: "NanumSquare";
  margin-bottom: 10px;
}
.items .item-info-wrap .item-info-en {
  font-size: 24px;
  font-weight: 300;
}
.items .item-info-wrap span.bar {
  display: block;
  width: 41px;
  height: 3px;
  background-color: #3e84b6;
  background-color: #222e55;
  margin: 42px 0 25px;
}
.items .item-info-wrap span {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}
.items .item-info-wrap .item-link {
  position: absolute;
  bottom: 0;
}
.items .item-info-wrap .item-link a {
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: rgba(35, 35, 35, 0.5);
}
.items .item-info-wrap .item-link a:hover {
  color: #3e84b6;
  color: #222e55;
}
.items .item-info-wrap .item-link a:last-child {
  font-size: 15px;
  margin-top: 10px;
}

.items img {
  width: 80%;
  /* max-width: 800px; */
  max-width: 900px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 122px;
}

.slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slick-dots li {
  position: relative;
  margin: 8px 0;
  text-align: right;
}
.slick-dots li:before {
  display: block;
  clear: both;
  position: absolute;
  right: 74px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  font-weight: 700;
  color: #232323;
  display: none;
}
.slick-dots li:nth-child(1):before {
  content: "01";
}
.slick-dots li:nth-child(2):before {
  content: "02";
}
.slick-dots li:nth-child(3):before {
  content: "03";
}
.slick-dots li:nth-child(4):before {
  content: "04";
}
.slick-dots li:nth-child(5):before {
  content: "05";
}
.slick-dots li:nth-child(6):before {
  content: "06";
}
.slick-dots li:nth-child(7):before {
  content: "07";
}
.slick-dots li.slick-active:before {
  display: block;
}

.slick-dots li button {
  border: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 0;
  width: 26px;
  height: 1px;
  background-color: #191919;
  margin: 0;
  display: block;
  margin-left: auto;
  box-sizing: border-box;
  padding: 0;
}
.slick-dots li.slick-active button {
  width: 52px;
}
.slick-slide:focus {
  outline: none;
}

.page-wrap {
  position: absolute !important;
  right: 10%;
  bottom: 5%;
  width: 55px;
  height: 23px;
  display: flex;
  display: none;
  font-size: 20px;
}
.page-wrap .page {
  width: 50%;
  text-align: right;
}
.page-wrap .page .slick-list {
  width: 100%;
  height: 100%;
}
.page-wrap .page .slick-arrow {
  display: none !important;
}
.page-wrap .total-page {
  margin-left: 5px;
}

/*--------------------------------------------------------------
# profile
--------------------------------------------------------------*/

.profile-container h1 {
  font-size: 45px;
  font-weight: 600;
  width: 100%;
  text-align: left;
  color: #232323;
  margin-bottom: 75px;
}
.profile-container .row {
  justify-content: space-between !important;
}
.info-container h2 {
  font-size: 34px;
  font-family: "NanumSquare";
  font-weight: bold;
  margin-bottom: 0;
}
.info-container span {
  display: block;
  font-size: 18px;
  margin-bottom: 58px;
}
.info-container h4 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 6px;
}
.info-content {
  margin-bottom: 84px;
}
.info-title {
  font-size: 28px;
  margin-bottom: 23px;
}
.info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 22px;
  font-size: 22px;
}
.info:nth-child(5) {
  margin-bottom: 89px;
}
.info .period {
  flex: 1 39px;
  color: #696969;
}
.info .company {
  flex: 2;
  color: #232323;
}

@media (max-width: 1024px) {
  .slick-dots {
    right: -30px;
  }
  .items img {
    width: 65%;
    margin-right: 0;
  }
  .items .item-info-wrap .item-info {
    font-size: 24px;
  }
  .items .item-info-wrap .item-info-en {
    font-size: 18px;
  }
  .items .item-info-wrap span {
    font-size: 16px;
  }
  .items .item-info-wrap .item-link a {
    font-size: 16px;
  }
  .items .item-info-wrap .item-link a:last-child {
    font-size: 14px;
  }

  .profile-container {
    width: 80%;
  }
  .info-container {
    height: 70%;
    flex: 1;
  }
  .profile-container h1 {
    font-size: 40px;
    margin-bottom: 55px;
    display: none;
  }
  .info-container h2 {
    font-size: 28px;
  }
  .info-container span {
    font-size: 16px;
    margin-bottom: 48px;
  }
  .info-container h4 {
    font-size: 18px;
  }
  .info-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .info {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #header {
    background-color: transparent;
    box-shadow: none;
  }
  .main {
    width: 100%;
    height: 100vh;
  }

  .navbar .navbar-btn {
    left: 30px;
    top: 30px;
  }
  .nav {
    right: 30px;
    top: 30px;
  }

  .nav-page {
    display: none;
  }

  .items img {
    width: 90%;
    bottom: 40px;
  }

  .info-container h4 {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .main {
    overflow: auto;
  }

  .nav-list-wrap {
    height: 100vh;
    overflow: hidden;
  }
  .nav-list {
    margin-left: 0;
  }
  .nav-list li a {
    font-size: 40px;
  }

  .page-wrap {
    display: flex;
  }
  .slick-dots {
    display: none !important;
  }
  .item-wrap {
    height: 90%;
    padding-top: 60px;
  }
  .items img {
    display: none !important;
  }

  .main-title {
    font-size: 24px;
    margin-bottom: 28px;
  }
  .main-title:nth-child(1) {
    margin-top: 80px;
  }
  .main-name {
    font-size: 24px;
  }
  .main-info h1 {
    font-size: 54px;
    /* margin-top: 54px; */
  }
  .main-link {
    font-size: 24px;
  }
  .main-link img {
    display: inline-block;
  }

  .profile-container .row {
    display: block;
  }
  .info-container {
    height: auto;
    margin-bottom: 45px;
  }
  .info-container h2 {
    padding-top: 100px;
  }
  .info-container span {
    margin-bottom: 38px;
  }
  .info-content {
    margin-bottom: 45px;
  }
  .info {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .main-info h1 {
    font-size: 48px;
    margin: 55px auto;
  }
  .main-link {
    font-size: 20px;
  }

  .info-container h2 {
    font-size: 26px;
  }
  .info-container h4 {
    font-size: 16px;
  }
  .info-title {
    font-size: 20px;
  }
  .info .period {
    flex: 1;
  }
  .info .company {
    flex: 1;
  }
}
@media (max-width: 320px) {
  .main-info h1 {
    font-size: 38px;
    margin: 45px auto;
  }
  .main-title {
    font-size: 22px;
    margin-bottom: 22px;
  }
  .main-link {
    margin-top: 60px;
    font-size: 18px;
  }
  .main-link img {
    height: 15px;
    margin-left: 14px;
  }
}
