/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
/*SFProDisplay*/
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Ultralight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Ultralight.otf") format("opentype"),
    url("../fonts/SFProDisplay-Ultralight.woff") format("woff"),
    url("../fonts/SFProDisplay-Ultralight.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight")
      format("svg");
  font-weight: normal;
  font-style: 200;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Thin.otf") format("opentype"),
    url("../fonts/SFProDisplay-Thin.woff") format("woff"),
    url("../fonts/SFProDisplay-Thin.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Thin.svg#SFProDisplay-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Light.otf") format("opentype"),
    url("../fonts/SFProDisplay-Light.woff") format("woff"),
    url("../fonts/SFProDisplay-Light.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Light.svg#SFProDisplay-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Regular.otf") format("opentype"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Medium.otf") format("opentype"),
    url("../fonts/SFProDisplay-Medium.woff") format("woff"),
    url("../fonts/SFProDisplay-Medium.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SFProDisplay-Semibold.otf") format("opentype"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("../fonts/SFProDisplay-Semibold.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Bold.otf") format("opentype"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff"),
    url("../fonts/SFProDisplay-Bold.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Heavy.otf") format("opentype"),
    url("../fonts/SFProDisplay-Heavy.woff") format("woff"),
    url("../fonts/SFProDisplay-Heavy.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Heavy.svg#SFProDisplay-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProDisplay-Black.otf") format("opentype"),
    url("../fonts/SFProDisplay-Black.woff") format("woff"),
    url("../fonts/SFProDisplay-Black.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Black.svg#SFProDisplay-Black") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* NanumSquare */
@font-face {
  font-family: "NanumSquare";
  font-weight: normal;
  src: url(../fonts/NanumSquareR.otf);
  src: url(../fonts/NanumSquareRegular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareR.woff) format("woff"),
    url(../fonts/NanumSquareRegular.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: bold;
  src: url(../fonts/NanumSquareB.otf);
  src: url(../fonts/NanumSquareBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareB.woff) format("woff"),
    url(../fonts/NanumSquareBold.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../fonts/NanumSquareL.otf);
  src: url(../fonts/NanumSquareLight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareL.woff) format("woff"),
    url(../fonts/NanumSquareLight.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url(../fonts/NanumSquareEB.otf);
  src: url(../fonts/NanumSquareExtraBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumSquareEB.woff) format("woff"),
    url(../fonts/NanumSquareExtraBold.ttf) format("truetype");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "SFProDisplay", "NanumSquare", "Open Sans", sans-serif;
  color: #585a61;
}

a {
  color: #5777ba;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFProDisplay", "NanumSquare", "Raleway", sans-serif;
}

li {
  list-style: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
}

#header.header-scrolled {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #5777ba;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.nav-page {
  position: absolute;
  top: 254px;
  left: 36.5px;
  font-size: 16px;
  transform: rotate(90deg);
}
.navbar .navbar-btn {
  display: block;
  width: 32px;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 99;
}
.navbar .navbar-btn span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #000;
  margin-bottom: 8px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: fixed;
  right: 50px;
  top: 50px;
}
.nav a {
  display: inline-block;
  width: 23.5px;
  margin-left: 35px;
}
.nav a img {
  width: 100%;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 12;
  display: none;
}

/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #47536e;
  padding: 8px 15px 12px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #5777ba;
  text-decoration: none;
}

.nav-menu .get-started a {
  background: #5777ba;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
}

.nav-menu .get-started a:hover {
  background: #748ec6;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #233355;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #5777ba;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #5777ba;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #47536e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #5777ba;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(35, 51, 85, 0.7);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Main 
--------------------------------------------------------------*/
.main {
  background-color: #f8f6f5;
}
.main h1 {
  font-size: 2.25rem;
  color: #222e55;
}
.main-title {
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #f49da0;
  text-shadow: 2px 2px #c8371d;
  margin-bottom: 38px;
  line-height: 1;
}
.main-name {
  font-size: 36px;
  color: #f49da0;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -2.77px;
}
.main-info h1 {
  margin: 75px auto;
  line-height: 1;
  font-size: 84px;
  font-weight: 900;
}
.main-info p {
  font-size: 13px;
  color: #222e55;
  margin-bottom: 6px;
  display: block;
}
.main-info p span {
  font-weight: 600;
}
.main-info p a {
  color: #222e55;
}
.main-link {
  display: block;
  margin-top: 100px;
  color: #222e55;
  font-size: 26px;
}
.main-link img {
  margin-left: 24px;
}
@media (min-width: 992px) {
  .main {
    height: 100vh;
    min-height: 40rem;
  }
}

/*--------------------------------------------------------------
# portfolio
--------------------------------------------------------------*/
.portfolio-container {
  width: 80%;
  max-width: 1500px;
  margin: auto;
}
.carousel {
  width: 100%;
}
.carousel-inner {
  height: 650px;
}
.carousel-item {
  width: 100%;
  height: 90%;
}
.carousel-caption {
  margin-right: auto;
  text-align: left;
  color: rgba(35, 35, 35, 0.5);
  left: 0;
  right: unset;
  top: 0;
}
.carousel-item h2 {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 43px;
}
.carousel-item .item-info {
  font-size: 28px;
  font-family: "NanumSquare";
  margin-bottom: 10px;
}
.carousel-item .item-info-en {
  font-size: 24px;
  font-weight: 300;
}
.carousel-item p.bar {
  display: block;
  width: 41px;
  height: 3px;
  background-color: #3e84b6;
  background-color: #222e55;
  margin: 42px 0 25px;
}
.carousel-item span {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}
.carousel-item .item-link {
  position: absolute;
  bottom: 0;
}
.carousel-item .item-link a {
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: rgba(35, 35, 35, 0.5);
}
.carousel-item .item-link a:hover {
  color: #3e84b6;
  color: #222e55;
}
.carousel-item .item-link a:last-child {
  font-size: 15px;
  margin-top: 10px;
}

.carousel-item img {
  width: 80%;
  max-width: 800px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 122px;
}

.carousel-btns {
  margin-right: auto;
  display: flex;
}
.carousel-control-next,
.carousel-control-prev {
  position: relative;
  display: flex;
  width: 20px;
  opacity: 1;
}
.carousel .line {
  display: flex;
  width: 1px;
  height: 23px;
  background-color: #b8b8b8;
  margin: 0 26.5px;
}

.carousel-indicators {
  display: block;
  left: unset;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
.carousel-indicators li {
  position: relative;
  width: 26px;
  height: 1.5px;
  background-color: #191919;
  flex: none;
  margin: 0;
  margin-left: auto;
  text-indent: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  opacity: 1;
}
.carousel-indicators li:before {
  position: absolute;
  right: 74px;
  top: -14px;
  display: none;
  font-size: 28px;
  font-weight: 700;
  color: #232323;
  clear: both;
  line-height: 1;
}
.carousel-indicators li:nth-child(1):before {
  content: "01";
}
.carousel-indicators li:nth-child(2):before {
  content: "02";
}
.carousel-indicators li:nth-child(3):before {
  content: "03";
}
.carousel-indicators li:nth-child(4):before {
  content: "04";
}
.carousel-indicators li:nth-child(5):before {
  content: "05";
}
.carousel-indicators li:nth-child(6):before {
  content: "06";
}
.carousel-indicators li:nth-child(7):before {
  content: "07";
}
.carousel-indicators .active {
  width: 52px;
}
.carousel-indicators .active:before {
  display: block;
}

/*--------------------------------------------------------------
# profile
--------------------------------------------------------------*/

.profile-container h1 {
  font-size: 45px;
  font-weight: 600;
  width: 100%;
  text-align: left;
  color: #232323;
  margin-bottom: 75px;
}
.profile-container .row {
  justify-content: space-between !important;
}
.info-container h2 {
  font-size: 34px;
  font-family: "NanumSquare";
  font-weight: bold;
  margin-bottom: 0;
}
.info-container span {
  display: block;
  font-size: 18px;
  margin-bottom: 58px;
}
.info-container h4 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 6px;
}
.info-content {
  margin-bottom: 84px;
}
.info-title {
  font-size: 28px;
  margin-bottom: 23px;
}
.info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 22px;
  font-size: 22px;
}
.info:nth-child(5) {
  margin-bottom: 89px;
}
.info .period {
  flex: 1 39px;
  color: #696969;
}
.info .company {
  flex: 2;
  color: #232323;
}
